---
import Sign from '../cargo/signup.svelte'
import '../coast/vesel.scss'
---

<html lang="id">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Daftar</title>
	</head>
	<body>

    <main class="vessel">

      <Sign client:only="svelte" />

    </main>

	</body>
</html>