---
const { title } = Astro.props
import Naval from '../cargo/naval.astro'
import '../coast/chery.scss'

const cookie = Astro.request.headers.get('cookie');
const res = await fetch(Astro.url.origin + '/api/you', {
  headers: {
    'Cookie': cookie
  }});
const crew = await res.json();
---

<html lang="id">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>

    {crew.fame && ( 
      <Naval crew={crew}/>
      <main class="armada">
        <slot />
      </main>
    )}

    {!crew.fame && ( 
      <main>
        <h1>Akses Diblokir!</h1>  
      </main>
    )}

	</body>
</html>


